<md-fab-speed-dial md-direction="up" class="md-fling md-fab-bottom-right">
    <md-fab-trigger>
        <md-button aria-label="Menu" class="md-fab">
            <i class="fa fa-plus"></i>
        </md-button>
    </md-fab-trigger>

    <md-fab-actions>
        <md-button aria-label="Go Up" class="md-fab md-raised md-mini">
            <i class="fa fa-chevron-up"></i>
        </md-button>
        <md-button aria-label="Change Language" class="md-fab md-raised md-mini">
            <i class="fa fa-language"></i>
        </md-button>
    </md-fab-actions>
</md-fab-speed-dial>
